PySide6==6.3.1
pyinstaller==5.3
psutil==6.0.0
requests==2.32.3
requests_toolbelt==1.0.0
PyJWT==2.8.0
pywin32==306
ufile==3.2.8
natsort==8.4.0
label-studio-sdk
cryptography==42.0.5
numpy==1.26.4
tos==2.6.8